* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;;
    font-family: 'Poppins', sans-serif;
}

.menu-listado li {
    list-style: none;
}

.menu-contenedor {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.menu-contenedor {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.menu-contenedor-img {
    position: relative;
    padding-bottom: 6rem;
}

.menu-img-cuatro {
    position: absolute;
    z-index: 4;
    left: 5rem;
}

.menu-img-tres{
    position: absolute;
    z-index: 3;
    left: 4rem;
}
.menu-img-dos {
    position: absolute;
    z-index: 2;
    left: 3rem;
}

.menu-img-uno {
    position: absolute;
    z-index: 1;
    left: 2rem;
}

.menu-logo {
    position: absolute;
    z-index: 5;
    left: 7rem;
    top: 1.5rem;
}

.menu-listado {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

.listado-uno {
    color: #832FDA;
}

.listado-dos {
    color: #00CF95;
}

/* Primera section */

.contenedor-sobreMi {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    display: flex;
    flex-direction: column;
}

.sobreMi-abajo {
    display: flex;
}

.contenedor-principal {
    display: flex;
    margin-left: 11rem;
    margin-right: 11rem;
    padding-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.sobreMi h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sobreMi h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.sobreMi h3 {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: #00CF95;
}

.sobreMi p {
    font-size: 2rem;
    margin-bottom: 4rem;
    width: 50rem;
    border-left: .5rem solid #00CF95;
    padding-left: 3rem;
}
figure img {
    width: 43rem;
}

.sobreMi-abajo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobreMi-abajo div {
    font-size: 3rem;
    margin-right: 9rem;
}

.sobreMi-abajo button {
    font-size: 2rem;
    padding: 2rem 4.5rem 2rem 4.5rem;
    background-color: #832FDA;
    color: white;
    border: none;
}

.enlaces-particion {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 3rem;
}

/* Armado de flecha */

.flecha {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-flecha {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contenedor-flecha img {
    width: 8rem;
    margin-bottom: 2rem;
}

.contenedor-flecha p {
    font-size: 2rem;
    color: #00CF95;
}

/* Segundo section */

.contenedor-portafolio {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-portafolio h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: #0098EF;
}

.portafolio-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 5rem;
    padding-bottom: 10rem;
}

/* Tercer section */

.servicios {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.servicios h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: #0098EF;
}

.contenedor-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contenedor-icono-1 {
    display: flex;
    background-color: #00CF95;
    width: 30rem;
    height: 24rem;
    padding: 3rem 0 3rem 3rem;
    border: solid #832FDA;
}

.contenedor-icono {
    display: flex;
    background-color: #00CF95;
    border: solid #D1FFA2;
    width: 30rem;
    height: 24rem;
    padding: 3rem 0 3rem 3rem;
}

.contenedor-icono-1 p {
    margin-left: auto;
    align-self: flex-end;
}

.contenedor-icono p {
    margin-left: auto;
    align-self: flex-end;
}

.contenedor-control {
    display: flex;
    gap: 3rem;
}

.contenedor-control img {
    width: 5rem;
    height: 5rem;
}

.contenedor-icono-1 .p1 {
    width: 12rem;
    background-color: #832FDA;
    font-size: 2rem;
    color: white;
    height: 3rem;
    text-align: end;
    padding: 1.5rem .5rem 3.5rem 2rem;
    border-radius: 1rem 0 0 1rem;
}

.contenedor-icono .p2 {
    width: 17rem;
    background-color: #D1FFA2;
    font-size: 2rem;
    color: #5A0CB0;
    height: 3rem;
    text-align: end;
    padding: 1.5rem .5rem 3.5rem 2rem;
    border-radius: 1rem 0 0 1rem;
}

.contenedor-icono .p3 {
    width: 15rem;
    background-color: #D1FFA2;
    font-size: 2rem;
    color: #5A0CB0;
    height: 3rem;
    text-align: end;
    padding: 1.5rem .5rem 3.5rem 2rem;
    border-radius: 1rem 0 0 1rem;
}

.contenedor-icono .p4 {
    width: 10rem;
    background-color: #D1FFA2;
    font-size: 2rem;
    color: #5A0CB0;
    height: 3rem;
    text-align: end;
    padding: 1.5rem .5rem 3.5rem 2rem;
    border-radius: 1rem 0 0 1rem;
}

.contenedor-icono .p5 {
    width: 20rem;
    background-color: #D1FFA2;
    font-size: 2rem;
    color: #5A0CB0;
    height: 3rem;
    text-align: end;
    padding: 1.5rem .5rem 3.5rem 2rem;
    border-radius: 1rem 0 0 1rem;
}

.contenedor-icono .p6 {
    width: 12rem;
    background-color: #D1FFA2;
    font-size: 2rem;
    color: #5A0CB0;
    height: 3rem;
    text-align: end;
    padding: 1.5rem .5rem 3.5rem 2rem;
    border-radius: 1rem 0 0 1rem;
}

/* Cuarto section */

.blog {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.blog .blog-titulo {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: #0098EF;
}

.blog1 {
    display: flex;
    gap: 10rem;
    margin-bottom: 5rem;
}

.blog1-1 img {
    margin-bottom: 2rem;
}

.blog1-1 h2 {
    margin-bottom: 2rem;
    border-left: solid;
    padding-left: 2rem;
    font-size: 4rem;
}

.blog1-1 p {
    font-size: 1.5rem;
    width: 42rem;
}
.blog1-1 span {
    color: #5A0CB0;
}

.animation {
    display: flex;
    gap: 2rem;
}

.animation div h2 {
    font-size: 2rem;
    border-left: solid gray;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.animation div p {
    font-size: 1.5rem;
    width: 25rem;
}

.animation2 {
    margin-bottom: 3rem;
}

.animation span {
    color: #5A0CB0;
}

.blog1-2 img {
    margin-bottom: 2rem;
}

.blog1-2 h2 {
    font-size: 2rem;
    border-left: solid gray;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.blog1-2 .lorem2 {
    font-size: 1.5rem;
    width: 48rem;
    margin-bottom: 2rem;
}

.blog1-2 .lorem3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.blog1-2 .sus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog1-2 input {
    width: 25rem;
    height: 6rem;
    border-radius: 1rem 0 0 1rem;
}

.blog1-2 div {
    width: 25rem;
    background-color: #5A0CB0;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;   
}

/* Quinta section */

.contacto {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.contacto h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: #0098EF;
}

.contacto1 input {
    width: 40rem;
    height: 6rem;
    border-radius: 1rem;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contacto1 {
    display: flex;
    gap: 3rem;
}

.contenedor-contacto textarea {
    width: 83rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.contacto button {
    display: block;
    width: 15rem;
    height: 6rem;
    background-color: #5A0CB0;
    border-radius: 1rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

/* Footer */

.footer {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
}

.footer .titulo-footer {
    font-size: 4rem;
    color: #00CF95;
    width: 33rem;
    text-align: center;
}

.listado-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.footer .mensaje {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}